{% extends "base.html" %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block content %}
  <h1>{{ vote.name }}</h1>
  {{ vote.description }}<br>
  Closes: {{ vote.closes }}<br>
  Method: {{ vote.method }}<br>
  <hr>


  <p class="muted text-center">The top item should be your most favorite.</p>
  <div id="template" style="display:none;">
    {{ vote.template }}
  </div>    
  <ul id="sortable">    

  </ul>
  <p class="muted text-center">The bottom item should be your least favorite.</p>

  <form method="POST">
    {% crispy form %}
  </form>
{% endblock %}

{% block link %}
<style>
#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
</style>
{% endblock %}

{% block script %}
  <script src="{{ STATIC_URL }}js/votelist.js"></script>
{% endblock %}
