{% extends "base.html" %}
{% load url from future %}

{% block content %}
  <h2>These are open and need your input</h2>
  <ul>
  {% for vote in needy_votes %}
    <li><a href="{% url 'submit_ballot' vote_id=vote.id %}">
      {{ vote.name }}</a> open until {{ vote.closes }}</li>
  {% endfor %}
  </ul>

  <h2>These are open but you already voted</h2>
  <ul>
  {% for vote in filled_votes %}
    <li><a href="{% url 'detail_poll' vote_id=vote.id  %}">
      {{ vote.name }}</a> open until {{ vote.closes }}</li>
  {% endfor %}
  </ul>

  <h2>Upcoming</h2>
  <ul>
  {% for vote in upcoming_votes %}
    <li><a href="{% url 'detail_poll' vote_id=vote.id  %}">
        {{ vote.name }}</a> - {{ vote.opens }} until {{ vote.closes }}</li>
  {% endfor %}
  </ul>

  <h2>Completed</h2>
  <ul>
  {% for vote in closed_votes %}
    <li><a href="{% url 'detail_poll_results' vote_id=vote.id  %}">
      {{ vote.name }}</a> closed {{ vote.closes }}</li>
  {% endfor %}</ul>
{% endblock %}
