{% extends "base.html" %}
{% load url from future %}

{% block content %}
<h1>Your Identifier -> {{ ballot.identifier }}</h1>
This is your unique identifier for this ballot. Write it down. When the vote
is closed, you will be able to see all the ballots cast. Make sure that your
unique identifier is in that list! The system knows you voted, but it doesn't
know which ballot is yours.<br>
{{ ballot.data}}<br>
<a href = "{% url 'vote.polls.views.list_polls' %}">Back to List</a>
<hr>
<h1>{{ vote.name }}</h1>
{{ vote.description }}<br>
Closes: {{ vote.closes }}<br>
Method: {{ vote.method }}<br>

{% endblock %}
